.title
  %form.user-form
    %label{for: 'user-email'} Email
    %input.user-email{name: 'user-email', type: 'email', required: true}
    %label{for: 'canvas-height'} Height(pixels)
    %input.canvas-height{name: 'canvas-height', value: '500', required: true}
    %label{for: 'canvas-width'} Width(pixels)
    %input.canvas-width{name: 'canvas-width', value: '900', required: true}
    %button.btn.btn-success Start Drawing!

.menu-selector
  .toggle-switch
    %span Menu
    %i.menu-icon
  %ul.menu-items
    %li.file
      %i.icon-file
      %span File
    %li.brushes
      %i.icon-pencil
      %span Brushes
    %li.tools
      %i.icon-magic
      %span Tools
    %li.settings
      %i.icon-cogs
      %span Settings
    %li.share
      %i.icon-ticket
      %span Share
    %li.add-fake
      %i.icon-plus
      %span Add-fake
