%ul
  %li#menu-active.has-sub
    %a{href: "#"}
      %span Brushes
    %ul
      %li
        %a#pencil-brush{href: "#"}
          %span Pencil
      %li
        %a#wireframe-brush{href: "#"}
          %span Wireframe
      %li
        %a#lenny-brush{href: "#"}
          %span ( ͡° ͜ʖ ͡°)
      %li
        %a#copypaste-brush{href: "#"}
          %span CopyPaste
      %li
        %a#sketch-brush{href: "#"}
          %span Sketch
  %li.has-sub
    %a{href: "#"}
      %span Tools
    %ul
      %li
        %a#csampler{href: "#"}
          %span Color Sampler
      %li
        %a#eraser-brush{href: "#"}
          %span Eraser
      %li.last
        %a{href: "#"}
          %span Smudge
  %li.has-sub
    %a{href: "#"}
      %span Settings
    %ul
      %li
        %span
          Radius:
          %input#radius-value{style: "width:4ex", type: "text", value: "5"}/
        %hr/
        %span
          Color (r,g,b,a):
          %input#color-value{style: "width: 16ex", type: "text", value: "rgba(0,0,0,1.0)"}/
        %img#colorwheel{src: "content/lolcolorwheel.png"}/
        %span
          Alpha:
          %input#alphaslider{max: "1", min: "0", step: "0.01", style: "width: 14ex", type: "range"}/
        %span
          Brightness:
          %input#brightnessslider{max: "1", min: "0", step: "0.01", style: "width: 14ex", type: "range"}/
  %li#download.middle
    %a{href: "#"}
      %span Download
  %li.last
    %a{href: "#"}
      %span Share
